@font-face {
    font-family: ProximaNovaExCond;
    src: url(../fonts/Proxima-Nova-ExCn-Reg.otf);
}//isnt as labeled. is italic version.
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova_Reg.ttf);
}
@font-face {
    font-family: ProximaNovaEBld;
    src: url(../fonts/proxima-nova-12.ttf);
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/Proxima-Nova-Thin.otf);
}
@font-face {
    font-family: GillSansI;
    src: url(../fonts/GillSans-Italic.ttf);
}
@font-face {
    font-family: GillSansReg;
    src: url(../fonts/GillSans.ttf);
}
@font-face {
    font-family: GillSansL;
    src: url(../fonts/GillSans-Light.ttf);
}