nav {
  height: 65px;
  width: $content-width;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
//   position: absolute;
//   top: 0;
  border-bottom: 2px solid $site-black;
  position: relative;
  z-index: 1;
  a {
    font-family: GillSansReg;
    // background-color: gray;
    height: 20px;
    font-size: 15px;
    text-decoration: none;
    color: $site-black;
    margin: 10px;
    border-right: 1px solid $site-blue;
    padding-right: 10px;
  }
  .logo {
    font-family: GillSansReg;
    font-size: 20px;
    padding-top: 20px;
    width: 92px;
    height: 42px;
    border: 2px solid $site-black;
    color: $site-black;
  }
  .links {
    min-width: 300px;
    height: 42px;
    text-align: center;
    display: flex;
    color: $site-black;
    // justify-content: center;
    // align-items: center;
    
  }
}


@media all and (max-width: 920px) {
  nav {
    width: 100%;
  }
}